.loader-suspense {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  padding: 24px;
}

@media (min-width: 700px) {
  .loader-suspense {
    justify-content: flex-end;
  }
}
