#candidates {
  display: grid;
  gap: var(--space-medium);
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  padding-bottom: 24px;

  /** Like in Hono.dev the navbar is wider but does not take the whole screen */
  .navigation-bar {
    width: min(1600px, 100%);
    margin-inline: auto;
  }

  .section {
    display: grid;
    place-items: start;
  }

  .section .loader,
  .section .state-candidates {
    place-self: center;
  }

  .section .candidates {
    place-self: start; /* to avoid the place-item center, centering the table */
    width: min(1200px, 100% - 24px - 24px); /* 24px per sidee */
    margin-inline: auto;
    text-align: center;
  }

  .section .candidates table {
    margin-bottom: var(--space-medium);
  }

  .progress-worker {
    position: absolute;
    bottom: var(--space-big);
    right: var(--space-big);
  }
}

/* Tablet */
@media (min-width: 700px) {
  #candidates {
    gap: 64px; /* big space between header and table*/

    .section .candidates table {
      margin-bottom: var(--space-big);
    }
  }
}
