.progress-worker {
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
  align-items: start;
  overflow: scroll;
  height: 33vh;
  margin-inline: auto;
  padding: 24px;
  background-color: var(--color-blue);
  color: white;
  border-radius: var(--border-radius-big);

  .statuses {
    padding: var(--space-small);
    border: solid 1px white;
  }
}

/* Laptop */
@media (min-width: 700) {
  .progress-worker {
    width: 240px;
    height: 264px;
  }
}
