/* Primary */
.button.primary {
  background-color: var(--color-blue);
  color: white;
  border-color: var(--color-blue);

  &:hover {
    background-color: var(--color-blue-dark);
    border-color: var(--color-blue-dark);
  }

  &:active {
    color: #789dc1;
  }

  &:disabled {
    background-color: var(--color-black-light);
    color: var(--color-gray);
    border-color: var(--color-black-light);
  }
}

/* Big */
.button.big {
  min-width: 145px;
  padding: 12px 36px;
  font-size: var(--font-size-normal);

  .icon {
    margin-bottom: 1px; /** hack to make the alignment identical to the original FontAwesome icons */
  }
}
