.card {
  --color-main: var(--color-black);

  aspect-ratio: 10 / 5.5;
  display: flex;
  flex-direction: column;
  align-items: start; /* to avoid button from streching */
  gap: var(--space-small);
  padding: var(--space-medium);
  background-color: white;
  color: var(--color-main);
  border: solid 0.5px var(--color-gray);
  border-radius: var(--border-radius-small);

  img {
    --size: 44px;

    background-color: var(--color-gray-light);
    border-radius: var(--border-radius-small);
  }

  h2 {
    margin-bottom: 0;
    -webkit-line-clamp: 3; /** to override the lines to trim */
  }

  .label {
    margin-bottom: auto; /* to push the button down */
  }

  footer .link {
    margin-right: var(--space-small);
    font-weight: var(--font-weight-bold);
  }

  footer .icon {
    transition: 0.25s;
  }
}

.card:hover {
  text-decoration: none;
  color: var(--color-main);

  /** Fake shadow hack because if I change the border width from 0.5 in the up state to 1.0 on hover, the contents inside the card flicker. */
  box-shadow: 0 0 1px 0.5px black;

  footer .icon {
    margin-left: var(--space-small);
  }
}

/* Phablet */
@media (min-width: 550px) {
  .card {
    aspect-ratio: 10 / 10;
  }
}

/* Table */
@media (min-width: 700px) {
  .card {
    aspect-ratio: 10 / 11;
    padding-top: var(--space-big);
  }
}
