.radio {
  display: block;
  min-width: 200px;
  padding: var(--space-small) var(--space-medium);
  border-radius: var(--border-radius-big);

  input {
    background-color: yellow;
    margin-right: var(--space-small);
  }
}

.radio input:focus {
  outline: none;
}

.radio:hover {
  background-color: var(--color-gray-light);
}

.radio:has(input:checked) {
  background-color: var(--color-blue-light);
}
