.button-head {
  width: 100%;
  margin-top: var(--space-medium);
  padding-top: var(--space-medium);
  padding-bottom: var(--space-small);
  border: none;
  background-color: transparent;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  text-align: left;

  &:hover {
    background-color: var(--color-gray-light);
    cursor: pointer;
  }
}

.button-head .label {
  margin-right: 4px; /* to align the active icon */
}

.button-head .icon {
  --size: 12px;
  vertical-align: middle;
  margin-bottom: 1px; /* to complement the alignment */
}
