.button-head {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  &:hover {
    background-color: var(--color-gray-light);
    cursor: pointer;
  }
}

.button-head .label {
  margin-right: 4px; /* to align the active icon */
}

.button-head .icon {
  --size: 12px;
  vertical-align: middle;
  margin-bottom: 1px; /* to complement the alignment */
}
