th {
  .button-head {
    width: 100%; /* to fill the whole table head column. */
    margin-top: var(--space-big); /* for extra space on top when the table header is sticky. */
    padding: var(--space-small) var(--space-small);
    border: none;
    color: var(--color-black);
    background-color: transparent;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight-bold);
    text-align: left;

    &:hover {
      background-color: var(--color-gray-light);
      cursor: pointer;
    }
  }

  .button-head .label {
    margin-right: 4px; /* to align the active icon */
  }

  .button-head .icon {
    --size: 12px;
    vertical-align: middle;
    margin-bottom: 1px; /* to complement the alignment */
  }
}
